/*Importação de fontes para á pagina*/

@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@800&display=swap');

*{
    margin: 0 auto; 
    padding: 0;
    box-sizing: border-box; /* padronização do calculo de largura e altura em elementos*/
}
/*Topo da pagina - gradiente*/
header{
    width: 100%;
    height: 600px;
    background: #1D976C; /*Gradiente*/
    background: -webkit-linear-gradient(to right, #76b852, #8DC26F);
    background: linear-gradient(to right, #76b852, #8DC26F);
}
/* menu*/
nav{
    text-align: right;
    padding: 30px 50px 0px 0px;
}

nav a{
    color: beige;
    font-weight: 00px;
    text-decoration: none;
    margin-right: 10px;
}

nav a:hover{
    text-decoration: underline;

}
/*Frases em cima do gradiente*/
.climatetitulo {
    display: flex;
    height: 430px;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.climatetitulo h1{
    font-size: 90px;
    color: #ffffff;
}

.climatetitulo h2{
    font-size: 25px;
    font-weight: 300;
    color: #4c7932;
}
/*Sobre o Projeto*/
.titulo {
    color: #76b852;
    font-size: 40px;
    text-align: center;
    margin-bottom: 50px;
}
/*conteudo a direita*/
.sobreprojeto{
    display: flex;
    justify-content: space-evenly;
}
/*Sobre os Curtas Educativos*/
.curtas{
    text-align: center;
}
.curtas p{
    margin-bottom: 30px;
}
.curtas h3{
    color: #81b96b;
    font-size: 25px;
    margin-bottom: 30px;
}
