/*Importação de fontes para á pagina*/

@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital@1&display=swap');

/* Identificação: # é para id . para classe*/

*{
    margin: 0 auto; 
    padding: 0;
    box-sizing: border-box; /* padronização do calculo de largura e altura em elementos*/}
main{
    font-family: 'Nunito Sans', sans-serif;}
/*Topo da pagina - gradiente*/
header{
    width: 100%;
    height: 600px;/*altura*/
    background: #1D976C; /*Gradiente*/
    background: -webkit-linear-gradient(to right, #76b852, #8DC26F);
    background: linear-gradient(to right, #76b852, #8DC26F);
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}

/* Menu*/

#MenuPrincipal{
    text-align: right;
    padding: 30px 50px 0 0; /*Espaçamento do menu*/}
#MenuPrincipal a{
    color: beige;
    font-weight: 300;
    text-decoration: none;
    margin-right: 10px;} /* espaçamento entre os elementos do menu*/
nav a:hover{
    text-decoration: underline;}
.onda{
    position: absolute;
    bottom: 0;
    width: 100%;
}
/*Frases em cima do gradiente*/
.climatetitulo {
    display: flex; /*organização flexivel, impossibilita que ele fique mt perto do menu, se organiza como preciso*/
    height: 430px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;}
.climatetitulo h1{
    font-size: 90px;
    color: #ffffff;}
.climatetitulo h2{
    font-size: 25px;
    font-weight: 300;
    color: #4c7932;}
/*codigo visivel além do header*/
.conteudo {
    width: 90%;
    max-width: 1500px;
    margin: auto;
    overflow: hidden;}

/*Sobre o Projeto*/

.titulo {
    color: #76b852;
    font-size: 45px;
    text-align: center;
    margin-bottom: 50px;
    margin-top: 50px;}
   /*conteudo a direita*/
.conteudo-sobre-projeto{
    display: flex;
    justify-content: space-evenly;}
.ladoprojeto h3{
    margin-bottom: 15px;}
.ladoprojeto h3 span{
    border-radius: 50%;
    background: #76b852;
    color: #ffffff;
    text-align: center;
    width: 20px;
    height: 20px;
    display: inline-block;
    padding: 2px;
    margin-right: 10px;}
.ladoprojeto p{
        padding: 0px 0px 30px 15px;
        font-weight: 300;
        text-align: justify;}
#imagemprojeto{
    width: 50%;}

/*Sobre os Curtas Educativos*/

.conteudocurtas{
    display: flex;
    justify-content: space-evenly;}
.conteudocurtas .curta{
    background: #76b852;
    display: flex;
    width: 50%;
    height: 300px;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 5px;}
.conteudocurtas .curta iframe{
    width: 250px;
    height: 200px;
    object-fit: cover;
    display: block;
    margin-left: 20px;}
.conteudocurtas .curta .curtatexto{
    width: 60%;
    color: #ffffff;
    margin-left: 30px;
    margin-right: 20px;}
.conteudocurtas .curta .curtatexto h4{
    color: #4c7932;}
.curtas p{
    padding-top: 15px; }
.curtas h3{
margin-bottom: 30px;
text-align: center;}

/*Sobre Criadora*/

.conteudo-criadora{
    margin-left: 60px;}
.ladocriadora h1{
    font-size: 65px;
    color: #76b852;
    margin-top: 100px;}
#imagemcriadora{
    width: 50%;
    float: right;}
.ladocriadora h4{
    color: #4c7932;
    margin-top: 10px;
    margin-bottom: 15px;
    font-size: 20px;}
.ladocriadora p{
    margin-bottom: 8px;}

/*Footer*/

footer{
    padding: 60px 0 30px 0;
    margin: auto;
    justify-content: space-evenly;
    margin-top: 100px;
    overflow: hidden;
    background: #4c7932;}
.conteudo-footer{
    display: flex;
    width: 90%;
    margin: auto;
    justify-content: space-evenly;
    padding-bottom: 50px;
    border-bottom: 1px solid #76b852 ;}
.elemento-footer{ 
    text-align: center;}
.elemento-footer h4{
    color: #fff;
    border-bottom: 3px solid #76b852;
    padding-bottom: 5px;
    margin-bottom: 10px;}
.elemento-footer p{
    color: #fff;}
.titulo-final{
    text-align: center;
    margin-top: 10px;
    color: #375724;
}


/*Responsividade*/

@media screen and (max-width:900px){
    header{
        background-position: center;
    }
    .conteudo-sobre-projeto{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .projeto .ladoprojeto{
        width: 90%;
    }
    #imagemprojeto{
        width: 90%;
        margin-bottom: 10%;
    }
    .conteudocurtas{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .conteudocurtas .curta{
        width: 90%;
        
    }
    .conteudocurtas .curta iframe{
        width: 30%;
    }
    .conteudo-criadora{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .conteudo-criadora .ladocriadora{
        width: 90%;
    }
    #imagemcriadora{
        width: 110%;
    }
}
